back-ground {
    position: relative;
    width: 3298px;
    height: 919px;
}
.bn-connie {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 862px;
    top: 690px;
}
.bn-anna {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 807.1px;
    top: 595px;
    transform: rotate(0.84deg);
}
.bn-adi {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 0px;
    top: 672.49px;
}
.bn-haley {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2233px;
    top: 638px;
}
.bn-chase {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2558px;
    top: 456px;
}
.bn-adil {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2797px;
    top: 362px;
}
.bn-cooper {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2661px;
    top: 554px;
}
.bn-justin {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2904px;
    top: 474px;
}
.bn-shanna {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2657px;
    top: 430px;
}
.bn-ryan {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2299px;
    top: 303.27px;
    transform: rotate(-17.52deg);
}
.bn-melody {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 547px;
    top: 420px;
}
.bn-alicia {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2122px;
    top: 402px;
}
.bn-sami {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 1259px;
    top: 569px;
}
.bn-liz {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2599px;
    top: 36px;
}
.bn-mateo {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 1069px;
    top: 624px;
}
.bn-mia {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 228px;
    top: 682px;
}
.bn-kai{
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 468.45px;
    top: 710px;
    transform: rotate(2.19deg);
}
.bn-jazzy {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2430.23px;
    top: 496px;
    transform: rotate(4.51deg);
}
.bn-charlie {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 3000px;
    top: 595px;
}
.bn-kitty {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 403px;
    top: 379px;
}
.bn-tino {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 817px;
    top: 467px;
}
.bn-grace {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2971px;
    top: 332px;
}
.bn-ethan {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2429px;
    top: 734px;
}
.bn-luc {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 247px;
    top: 363px;
}
.bn- {
    position: absolute;
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    left: 2657px;
    top: 430px;
}